#selectModel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0px 10px 15px #333;
}
.checkbox {
    position: relative;
    /* display: inline-block; */
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    /* padding: 10px; */
    border-radius: 5px;
 }
 .checkbox:after, .checkbox:before {
   font-family: FontAwesome;
   -webkit-font-feature-settings: normal;
      -moz-font-feature-settings: normal;
           font-feature-settings: normal;
   -webkit-font-kerning: auto;
      -moz-font-kerning: auto;
           font-kerning: auto;
   -webkit-font-language-override: normal;
      -moz-font-language-override: normal;
           font-language-override: normal;
   font-stretch: normal;
   font-style: normal;
   font-synthesis: weight style;
   font-variant: normal;
   font-weight: normal;
   text-rendering: auto;
 }
 .checkbox label {
   width: 40%;
   height: 80%;
   background: #ccc;
   position: relative;
   display: inline-block;
   border-radius: 46px;
   -webkit-transition: 0.2s;
   transition: 0.2s;
 }
 .checkbox label:after {
   content: '';
   position: absolute;
   width: 40%;
   height: 100%;
   border-radius: 100%;
   left: 0;
   top: 0;
   z-index: 2;
   background: #fff;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   -webkit-transition: 0.2s;
   transition: 0.2s;
 }
 .checkbox input {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 5;
   opacity: 0;
   cursor: pointer;
 }

 .checkbox input:hover + label:after {
   box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
 }
 .checkbox input:checked + label:after {
   left: 62%;
 }
  
 #selectModel .checkbox input:checked + label {
   background: #376ecb;
 }
 #selectModel .checkbox input:checked + label:after {
   background: #4285F4;
 }